#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e3d2b0;
}

.app {
  color: #f35a02;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  text-transform: uppercase;
  border-bottom: solid 1px #f35a02;
}

.add-to-do-form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.add-to-do-form input,
.add-to-do-form button {
  padding: 8px;
  flex-grow: 1;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.to-do-list {
  background-color: #cec2ac;
  border-radius: 10px;
  padding: 5px;
}

.to-do-list ul {
  list-style: none;
  width: 80%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.to-do-list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.to-do-list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 15px;
  padding: 2px;
  transform: translateY(2px);
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  accent-color: #e5771f;
}

.footer {
  margin-top: auto;
}
